<div class="container">
<h1 class="my-4">Clock App🕑</h1>
  <div class="row">
    <div class="col-6">
      <div class="p-3 bg-light">
        <%= link_to "Timezone", timezones_path %>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 bg-light">
        <%= link_to "Alarms", alarms_path %>
      </div>
    </div>
  </div>
</div>