<div class="container">
  <h1 class="my-4">Clock App 🕑</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body text-center">
          <%= link_to "Time zones", timezones_path %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body text-center">
          <%= link_to "Alarms", alarms_path %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body text-center">
          <%= link_to "Stopwatches", stopwatches_path %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body text-center">
          <%= link_to "Timers", timers_path %>
        </div>
      </div>
    </div>
  </div>
</div>
