<li class="list-group-item">
  <div class="row">
    <h5 class=" m-0 mx-1"><%= alarm.time.strftime("%H:%M") %></h5>
    <%= render partial: "days", collection: alarm.days %>
    <%= render partial: "buttons", locals: { alarm: alarm } %>
  </div>
</li>
