.row.justify-content-center.mt-3
  %button.buttonPlay.btn-primary.mx-1#playButton{ type: 'button' } Play
  %button.buttonPlay.btn-primary.mx-1.d-none#pauseButton{ type: 'button' } Pause
  %button.buttonLap.btn-warning.mx-1.d-none#lapButton{ type: 'button' } Lap
  %button.buttonReset.btn-danger#resetButton{ type: 'button' } Reset
