<div class="row justify-content-center mt-3">
  <button type="button" class="buttonPlay btn-primary mx-1" id="playButton">Play</button>
  <button type="button" class="buttonPlay btn-primary mx-1 d-none" id="pauseButton">Pause</button>
  <button type="button" class="buttonReset btn-danger" id="resetButton">Reset</button>
</div>
