<div class="row justify-content-center">
  <div class="circle border border-primary rounded-circle d-flex justify-content-center align-items-center">
    <h4 class="m-0" id="display">00:00:00</h4>
  </div>
</div>
