%li.list-group-item
  .row
    %h5= stopwatch.time
    .row.justify-content-end.ml-auto
      = link_to "Delete", stopwatch_path(stopwatch), class: "btn btn-danger mr-3",
                                                        method: :delete,
                                                        data: { confirm: "Are you sure?" }
    
