 <!DOCTYPE html>
<html>
  <body>
     <h1>New Stopwatch</h1>

     <div class="stopwatch">
       <span id="display">00:00:00</span> 
     </div>

     <div class="controls">
       <button id="startBtn">Start</button>
       <button id="stopBtn">Stop</button>
       <button id="roundBtn">Round</button>
     </div>
  </body>
</html> 


